<!-- <h2 style="background-color: aqua;">CodEial</h2> -->
<link rel="stylesheet" href="/css/user_profile.css">
<link rel="stylesheet" href="/css/header.css">
<div id="header-div">
    <h2>CodEial</h2>
    <ul>
        <% if (locals.user){ %>
            <a href="/users/profile">
                <%= user.name %>
            </a>
            <a href="/users/sign-out"> Sign Out</a>

            <% }else{%>
                <a href="/users/sign-in">Sign In</a>
                <a href="/users/sign-up">Sign Up</a>

                <% } %>
    </ul>
</div>