<link rel="stylesheet" href="/css/home.css">

<h1>
    <%= title %>
</h1>
<div id="home-container">

    <% if(locals.user){ %>
        <%- include('_post') -%>
            <% }else{ %>
                <h1>Please Sign In!!</h1>
                <% } %>

</div>