<h1>Sign In!!</h1>

<div>
    <form action="login" method="POSTt">
        <input type="text" name="email" placeholder="Enter Email" required />
        <input type="password" name="password" placeholder="Enter Password" required />
        <button type="submit" href="/create-contact">Sign In</button>
    </form>
</div>