<link rel="stylesheet" href="/css/user_profile.css">

<form action="/users/sign-out">
    <h1>Codeial Profile Page</h1>
    <h3>User Name : <%= user.name%>
    </h3>
    <h3>User Email : <%= user.email%>
    </h3>
    <button type="submit" href="/sign-out"> Sign Out</button>
</form>