
#header-div {
    background-color:lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    // ul{
    //   width: 70px;
    //   min-height: 70px;
    // }
  }