// body{
//     // background-color: aquamarine;
//     margin:0;
// }

// #header{
//     display: flex;
//     height: 100%;
//     background-color: aquamarine;
//     ul{
//         width: 70px;
//         min-height: 70px;
//     }
// }

#header-div {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }